nav ul {
  display: flex;
  background-color: blanchedalmond;
  margin-block-start: 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
  list-style-type: none;
  margin-right: 16px;
}

section {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
}

.item-container {
  background: #3da1f3;
  width: 200px;
  margin: 2rem;
  border-radius: 1rem;
  color: #fefefe;
  padding: 1rem;
  text-align: center;
  line-height: 1rem;
}

.item-container a {
  text-decoration: none;
  color: #fefefe;
  font-weight: 600;
  display: block;
}
